# Secret Variables required in GitHub secrets: TWINE_USERNAME, TWINE_PASSWORD / TWINE_USERNAME_TEST, TWINE_PASSWORD_TEST

name: build

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
    paths-ignore: [ "*.md" ]
  pull_request:
    branches: [ main ]
    paths-ignore: [ "*.md" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # sudo python setup.py install clean --all
      - uses: actions/checkout@v3

      - name: pip-install-test
        run: |
          sudo pip3 install -UI pip && sudo pip3 install -UI setuptools wheel twine pyOpenSSL
          cd src
          sudo python3 setup.py sdist bdist_wheel
          pip3 install ./dist/*.tar.gz
          aloha info
          pip3 list | sort

      - name: pypi-publish
        env:
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
          TWINE_USERNAME_TEST: ${{ secrets.TWINE_USERNAME_TEST }}
          TWINE_PASSWORD_TEST: ${{ secrets.TWINE_PASSWORD_TEST }}
        run: |
          env | sort -f && cd src && ls -alh
          sudo python3 -c "import fcntl; fcntl.fcntl(1, fcntl.F_SETFL, 0)"
          sudo python3 setup.py sdist bdist_wheel
          ls -alh ./dist
          if [ "${GITHUB_REPOSITORY}" = "QPod/aloha" ] && [ "${GITHUB_REF_NAME}" = "main" ] ; then
            twine upload dist/* --verbose -u "${TWINE_USERNAME}" -p "${TWINE_PASSWORD}" ;
          elif [ ! -z "${TWINE_USERNAME_TEST}" ]; then
            twine upload dist/* --verbose -u "${TWINE_USERNAME_TEST}" -p "${TWINE_PASSWORD_TEST}" \
              --repository-url "https://test.pypi.org/legacy/" ;
          fi
